<?xml version='1.0' encoding='utf-8'?>
<beans xmlns='http://www.springframework.org/schema/beans'
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:schemaLocation='http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd'>
	
	<bean id='pistol' class='spring.core.ch01.ex01.Pistol'/>
	<bean id='rifle' class='spring.core.ch01.ex01.Rifle'/>
	
	<bean id='shooter1' class='spring.core.ch01.ex02.Shooter'>
		<constructor-arg value='최한석'/> <!-- 생성자를 통해서 di를 표현, 파라미터를 넣어준다 -->
		<constructor-arg ref='pistol'/> <!-- arg가 객체이면 래퍼런스를 써준다 -->
	</bean>
	
	<bean id='shooter2' class='spring.core.ch01.ex02.Shooter'>
		<property name='name' value='한아름'/> <!-- setter를 통해서 di를 표현, 파라미터를 넣어준다-->
		<property name='gun' ref='rifle'/> <!-- 마이바티스에서 사용했었다 -->
	</bean>
</beans> <!-- 컨테이너가 무슨 기능을 만들면 될지 내가 문서에 작성하는 것이다, IOC -->